<div class="sidenav">
    <a routerLink="enrollment" style="padding: 0px 77px;margin-bottom: 35px; background-color: #f44336;">

        <img routerLink="enrollment" src="../assets/logo.jpg" alt="Logo" style="height: 50px; width:70px;">

    </a>
    <hr>

    <a routerLink="enrollment">
        <mat-icon>group_add</mat-icon>Enrollment
    </a><br>
    <a mat-list-item routerLink="institute">
        <mat-icon>account_balance</mat-icon> Institute
    </a><br>
    <a mat-list-item routerLink="course">
        <mat-icon>computer</mat-icon> Course
    </a><br>
    <a mat-list-item routerLink="batch">
        <mat-icon>access_time</mat-icon> Batch
    </a><br>
    <a *ngIf="getData() == true" mat-list-item routerLink="user">
        <mat-icon>person</mat-icon> User
    </a><br>
    <a style=" margin-top:70px;" mat-list-item routerLink="">
        <mat-icon>logout</mat-icon> Logout
    </a>
</div>