/* Another */
/* Style the navigation menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f44336;
    overflow-x: hidden;
    padding-top: 20px;

    text-align: center;
}


/* Style the navigation menu links */

.sidenav a {
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
    background-color: #ca1508;
}

.sidenav a i {
    padding: 0px 20px;
}