<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">Updation Form</h1>
                        <form #frmData="ngForm" (ngSubmit)="editEmp(frmData.value)">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input [ngModel]="empObj?.Name" name="name" id="name" class="form-control form-control-lg" />
                                        <label class="form-label" for="fullname">Full Name</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input [ngModel]="empObj?.Email" name="email" type="email" id="email" class="form-control form-control-lg" />
                                        <label class="form-label" for="lastName">Email</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline">
                                        <input [ngModel]="empObj?.Contact" name="contact" type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                    </div>


                                </div>
                                <div class="col-md-6 mb-4">


                                    <div class="form-outline">
                                        <input [ngModel]="empObj?.College_Name" name="clgname" type="name" id="clgname" class="form-control form-control-lg" />
                                        <label class="form-label" for="name">College name</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="col-12">

                                        <select [ngModel]="empObj?.Qualification" name="qualify" class="select form-control-lg">
                                            <option selected disabled>Choose option</option>
                                            <option *ngFor="let qualify of qualification" (value)="qualification">
                                                {{qualify}}
                                            <option>
                                        </select>
                                        <label class="form-label select-label">Qualification</label>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="col-12">

                                        <select [ngModel]="empObj?.Specialization" name="specialize" class="select form-control-lg">
                                            <option value="1" selected disabled>Choose option</option>
                                            <option *ngFor="let special of specialization " (value)="specialization">
                                                {{ special}}</option>
                                        </select>
                                        <label class="form-label select-label">Specialization</label>

                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="col-md-6 mb-4">

                                        <h4 class="mb-2 pb-1">Appearing? </h4>

                                        <div class="form-check form-check-inline">
                                            <input [(ngModel)]="isVisible" class="form-check-input" type="radio" name="isVisible" id="yes" [value]="0" [checked]="isSelected" />
                                            <label class="form-check-label" for="yes">YES</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input [(ngModel)]="isVisible" class="form-check-input" type="radio" name="isVisible" id="no" [value]="1" [checked]="!isSelected" />
                                            <label class="form-check-label" for="no">NO</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline" *ngIf="isVisible==1">
                                        <select [ngModel]="empObj?.Passing_Year" name="passingyear" class="select form-control-lg">
                                            <option value="1" selected disabled>Choose option</option>
                                            <option *ngFor="let year of yearOfpass " (value)="yearOfpass">{{year}}
                                            </option>
                                        </select>
                                        <label class="form-label" for="lastName">Year Of Passing</label>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <select [ngModel]="empObj?.Experience" name="exp" class="select form-control-lg">
                                                <option value="1" selected disabled>Choose option</option>
                                                <option *ngFor="let exp of experience " (value)="experience">{{exp}}
                                                </option>
                                            </select>
                                            <label class="form-label" for="lastName">Experience</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input [ngModel]="empObj?.City_Name" name="cityname" type="text" id="city" class="form-control form-control-lg" />
                                            <label class="form-label" for="cityname">City</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <select [ngModel]="empObj?.Course" name="course" class="select form-control-lg">
                                                <option value="1" selected disabled>Choose option</option>
                                                <option *ngFor="let cour of course " (value)="course">{{cour}}</option>
                                            </select>
                                            <label class="form-label" for="lastName">Course</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">



                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>